FHE/FHE.sln
FHE/FHE.v12.suo
FHE/FHE/bin/Debug/FHE.exe
FHE/FHE/bin/Debug/FHE.pdb
FHE/FHE/bin/Debug/FHE.vshost.exe
FHE/FHE/bin/Debug/FHE.vshost.exe.manifest
FHE/FHE/FHE.csproj
FHE/FHE/obj/Debug/App.g.cs
FHE/FHE/obj/Debug/App.g.i.cs
FHE/FHE/obj/Debug/Controls/EnterName.baml
FHE/FHE/obj/Debug/Controls/EnterName.g.cs
FHE/FHE/obj/Debug/Controls/enterName.g.i.cs
FHE/FHE/obj/Debug/Controls/HierachyGoal.baml
*.baml
*.cache
*.exe
*.txt
*.resources
*.pdb
*.dll
*.resx
*.settings
FHE/FHE/obj/Debug/Controls/HierachyGoal.g.cs
FHE/FHE/obj/Debug/Controls/HierachyGoal.g.i.cs
FHE/FHE/obj/Debug/Controls/HierarchyLevel.g.cs
FHE/FHE/obj/Debug/Controls/HierarchyLevel.g.i.cs
FHE/FHE/obj/Debug/Controls/HierarchyNode.g.cs
FHE/FHE/obj/Debug/Controls/HierarchyNode.g.i.cs
FHE/FHE/obj/Debug/FHE_Content.g.i.cs
FHE/FHE/obj/Debug/MainWindow.g.cs
FHE/FHE/obj/Debug/MainWindow.g.i.cs
FHE/FHE/obj/Debug/Pages/GraphBuilderPage.g.i.cs
FHE/FHE/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
FHE/FHE/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
FHE/FHE/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
FHE/FHE/Properties/AssemblyInfo.cs
FHE/FHE/Properties/Resources.Designer.cs
FHE/FHE/Properties/Settings.Designer.cs